.title h1, h2 {
  font-family: Anton, sans-serif;
  color: #000;
}

.title h1 span {
  color: #000;
}

.text {
  background-color: #000;
}

.text p {
  font-family: "Just Me Again Down Here", cursive;
  color: #fff;
}

@media only screen and (min-width: 25em) {
  .poem-1 {
    text-align: center;
  }
  .title {
    text-align: center;
  }
}

@media only screen and (min-width: 38em) {
  .poem-1 {
    text-align: left;
  }
}

@media only screen and (min-width: 60em) {
  .poem-1 {
    text-align: center;
  }
}
