.title h1, h2 {
  font-family: Anton, sans-serif;
  color: #000;
}

.title h1 span {
  color: #000;
}

.text {
  background-color: #000;
}

.text p {
  font-family: "Just Me Again Down Here", cursive;
  color: #fff;
}

Add maybe a diff
