.title h1, h2 {
  font-family: Anton, sans-serif;
  color: #000;
}

.title h1 span {
  color: #000;
}

.text {
  background-color: #000;
}

.text p {
  font-family: "Just Me Again Down Here", cursive;
  color: #fff;
}
 add some -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
 text-size-adjust: 100%;
